body {
  background-color: #faf0e6;
}

#signOut:hover {
  background-color: #dd4b39;
  color: white;
}

#signOut {
  color: #dd4b39;
  border-color: #dd4b39;
  margin-left: 10px;
  width: 150px;
}

#cart {
  color: white;
  border-color: white;
  margin-left: 10px;
  width: 150px;
  margin-right: 25px;
}

#cart:hover {
  background-color: white;
  color: black;
}

.img {
  width: 800px;
  height: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.imgdiv {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
}

.infor {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 200px;
}

.img1 {
  width: 800px;
  height: 533.33px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#navbar {
  display: flex;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

#Login {
  margin-left: 10px;
}
