body {
  background-color: #faf0e6;
}

#signOut:hover {
  background-color: #dd4b39;
  color: white;
}

#signOut {
  color: #dd4b39;
  border-color: #dd4b39;
  margin-left: 10px;
  width: 150px;
}

#cart {
  color: white;
  border-color: white;
  margin-left: 10px;
  width: 150px;
  margin-right: 25px;
}

#cart:hover {
  background-color: white;
  color: black;
}
.title {
  margin-top: 125px;
  text-align: center;
  font-style: oblique;
  width: 100%;
}
.detail {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-style: italic;
  font-size: 25px;
  width: 100%;
  padding: 0px 50px;
}

.com {
  width: 80%;
}
.face {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 125px;
}

.title1 {
  margin-top: 25px;
  text-align: center;
  font-style: oblique;
  width: 100%;
}

#navbar {
  display: flex;
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

#Login {
  margin-left: 10px;
}
