#signOut:hover {
  background-color: #dd4b39;
  color: white;
}

#signOut {
  color: #dd4b39;
  border-color: #dd4b39;
  margin-left: 10px;
  width: 150px;
}
.title {
  margin-top: 25px;
  text-align: center;
  font-style: oblique;
  width: 100%;
}
.detail {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-style: italic;
  font-size: 25px;
  width: 100%;
}
